
.products> .swiper> .swiper-wrapper> .swiper-slide{
    width: 273px !important;
    display: flex;
    flex-direction: column;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    cursor: pointer;
    position: relative;
}
.products> .swiper> .swiper-wrapper> .swiper-slide> .product-img-wrapper{
    overflow: hidden;
}
.products> .swiper> .swiper-wrapper> .swiper-slide> .product-img-wrapper > img{
    transition: all 0.3s;
}
.products> .swiper> .swiper-wrapper> .swiper-slide> .product-img-wrapper:hover> img{
    transform: scale(1.3);
} 